<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title> Random Katinukas </title>
    <link rel="stylesheet" href="index.css"/>
     <script src="/prototype.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="inner_container">
        <img id="image_shower"/>
      </div>
      <div id="button_container">
        <button onclick="get_random_image()"></button>
      </div>
    </div>
  </body>
</html>